<!--
  Generated template for the Super30Page page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header remove">
  <ion-navbar>
    <ion-title>super30  <span *ngIf="SelfData.index!=''"></span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="super-plumber">
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>


<div *ngIf="!plumber_list.length" class="data-not">
  <img  src="assets/imgs/data-not-found.png">
</div>

<div >
  
  <ion-list *ngFor="let row of plumber_list; let i = index;" >
    <button ion-item >
      <div class="list " [ngClass]="row.id == service.karigar_info.id?'active':''">
        <div class="point">
          <h4>{{i+1}}</h4>
        </div>
        
        <div class="detail">
          <div class="info">
            <h4>{{row.first_name | titlecase}}</h4>
            <p>Wallet Balance : {{row.balance_point}}</p> 
            <p>{{row.city | titlecase}} {{row.state | titlecase}}</p> 
            <div class="pulmber-rating">
              <ul>
                <li [ngClass]="{'active':row.rating>='1'}">
                  <a><i  class="material-icons">star</i></a>
                </li>
                
                <li [ngClass]="{'active':row.rating>='2'}">
                  <a><i  class="material-icons">star</i></a>
                </li>
                <li [ngClass]="{'active':row.rating>='3'}">
                  <a><i  class="material-icons">star</i></a>
                </li >
                
                <li [ngClass]="{'active':row.rating>='4'}">
                  <a><i  class="material-icons">star</i></a>
                </li>

                <li [ngClass]="{'active':row.rating>='5'}">
                    <a><i  class="material-icons">star</i></a>
                  </li>
                
              </ul>
            </div>
          </div>
          
          <div class="photo">
            <img src="http://app.gravitybath.com/dd_api/app/uploads/{{row.profile}}" onerror="this.src='http://app.gravitybath.com/uploads/no-thumbnail.jpg'">
          </div>
          
        </div>
      </div>
    </button>
  </ion-list>
</div>



</ion-content>
