<ion-header class="home-header">
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<div class="header-logo">
    <img src="assets/imgs/logo.png">
    <div class="btn-head">
        <button class="hs-menu cs-hdr-icons" (click)="open_menu()"><i class="material-icons">menu</i></button>
    </div>
</div>

<ion-content style="background: #f4fbfb;">
    
    <!-- <div class="dashboard_header">
        <div class="csm_header">
            <div class="logo"><img src="assets/imgs/p-logo.png" alt=""></div>
            <div class="buttons">
                <button ion-button (click)="open_menu()"><img src="assets/imgs/menu_icon.svg" alt="" class="menu_icon"></button>
            </div>
        </div>
    </div> -->
    
    
    <div class="em_info">
        <div class="figure">
            <div class="nnm">
                <h1>Hi, {{!user_data.name ? 'N/A' : user_data.name | titlecase}}</h1>
                <p *ngIf="user_data.mobile">+91 {{user_data.mobile}}</p>
            </div>
            <div class="srt_button">
                <button ion-button class="str" *ngIf="(last_attendence_data.start_time == '') && (last_attendence_data.stop_time == '' )"(click)="openModal()">
                    <div class="cs-left">
                        <div class="icon"><img src="assets/imgs/wrk_time-start.svg" alt=""></div>
                        <div class="timeclass">
                            <p>Your Start Time</p>
                            <p><span>00 : 00</span> <span>{{start_attend_time}}</span></p>
                        </div>
                    </div>
                    <div class="cs-right">
                        <div class="lb">Start Work Time</div>
                    </div>
                </button>
                
                <button ion-button class="stp" *ngIf="(last_attendence_data.stop_time == '00:00:00') && (last_attendence_data.start_time != '00:00:00' )" (click)="presentAlert()">
                    <div class="cs-left">
                        <div class="icon"><img src="assets/imgs/wrk_time-end.svg" alt=""></div>
                        <div class="timeclass">
                            <p>Your Start Time</p>
                            <p><span>{{start_attend_time}}</span></p>
                        </div>
                    </div>
                    <div class="cs-right">
                        <div class="lb">Stop Work Time</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    
    
    
    <ng-container *ngIf="user_data.user_type!='OFFICE'">
        
        <div class="product-option pt5">
            
            <div class="main-box" (click)="goToMainDistributorListPage(1)">
                <div class="product-box">
                    <img src="assets/imgs/cs-network/customer.svg">
                </div>
                <div class="heading">
                    <div class="count"><span>{{total_distributor.total_distributor}}</span></div>
                    <h4>Channel Partner</h4>
                </div>
            </div>
            
            <div class="main-box" (click)="goToMainDistributorListPage(7)">
                <div class="product-box">
                    <img src="assets/imgs/cs-network/fabricator.svg">
                </div>
                <div class="heading">
                    <div class="count"><span>{{total_direct_dealer.total_direct_dealer}}</span></div>
                    <h4>Direct Dealer</h4>
                </div>
            </div>
            
            <div class="main-box" (click)="goToMainDistributorListPage(3)">
                <div class="product-box">
                    <img src="assets/imgs/cs-network/architect.svg">
                </div>
                <div class="heading">
                    <div class="count"><span>{{total_dealer.total_dealer}}</span></div>
                    <h4>Dealer</h4>
                </div>
            </div>
        </div>
        
    </ng-container>
    
    
    
    
    
    
    
    
    <div padding class="pt10">
        <ng-container *ngIf="today_checkin.today_checkin > 0" >
            
            <div class="go-btn new mb16" (click)="goToCheckin()">
                <div class="g-left">
                    <p>{{today_checkin.today_checkin}}</p>
                    <p>Today Check In</p>
                </div>
                <div class="g-right">
                    <div class="g-content">
                        <p  >Check In's are <strong>Completed</strong></p>
                    </div>
                    <div class="g-count">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="today_checkin.today_checkin == 0" >
            
            <div class="go-btn new mb16" (click)="start_visit()">
                <div class="g-left">
                    <p>{{today_checkin.today_checkin}}</p>
                    <p>Today Check In</p>
                </div>
                <div class="g-right">
                    <div class="g-content">
                        <p  >Create Check In</p>
                    </div>
                    <div class="g-count">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
        </ng-container>
        
        
        
        <ng-container *ngIf="user_data.user_type=='OFFICE'" >
            <div class="go-btn new mb16"  (click)="goToMainDistributorListPage(3)">
                <div class="g-left">
                    <p>{{total_dealer.total_dealer}}</p>
                    <p>Total Dealers</p>
                </div>
                <div class="g-right">
                    <div class="g-content" >
                        <p>My Dealers</p>
                    </div>
                    <div class="g-count">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
            
        </ng-container>
        
        <div class="go-btn new mb16" (click)="goToOrders('Secondary')">
            <div class="g-left">
                <p>{{total_secondary_order.total_secondary_order}}</p>
                <p>Total Order</p>
            </div>
            <div class="g-right">
                <div class="g-content" >
                    <p >Order To Channel Partner</p>
                    <p >&#x20B9; <span>{{total_secondary_order.secondary_order_sum |number:'1.0-0'}}/-</span></p>
                </div>
                <div class="g-count">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
            </div>
        </div>
        <ng-container *ngIf="user_data.user_type!='OFFICE'" >
            
            <div class="go-btn new mb16"  (click)="goToOrders('Primary')">
                <div class="g-left">
                    <p>{{total_primary_order.total_primary_order}}</p>
                    <p>Total Order</p>
                </div>
                <div class="g-right">
                    <div class="g-content" >
                        <p>Order To RN Valves</p>
                        <p >&#x20B9; <span>{{total_primary_order.primary_order_sum |number:'1.0-0'}}/-</span></p>
                    </div>
                    <div class="g-count">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
    
    
    
    
    
    <!--     
        <div class="pt0 pb0">
            
            <div class="dtbtns">
                
                
                
            </div>
        </div>
    -->
    
    
    <!-- <div class="dscscounter pt6 pl9 pr9 pb9">
        
    </div> -->
</ion-content>