
<ion-header class="main-header remove" >
    <ion-navbar >
        <ion-title *ngIf="!filter.globalSearchData" >{{prod_cat.main_category |titlecase}} </ion-title>
        <ion-title *ngIf="filter.globalSearchData" >{{filter.categoryName | titlecase}} - Product List</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter">
                <ion-searchbar type='text' name='search'  [(ngModel)]="filter.search" (ngModelChange)="filter.search=='' ? getProductList(cat_id,filter.search) : ''" (keyup.enter)="getProductList(cat_id,filter.search)"></ion-searchbar>
            </div>
            
        </div>
    </ion-toolbar>
    
</ion-header>

<ion-content class="listing grid-listing sub-category pt0 mt0">
    
    
    
    <div *ngIf="!cat_id" class="prfnt">
        <div class="pr-figure"> 
            <span>"{{total_count}}"</span> Product found with "{{filter.globalSearchData}}" .
        </div>
    </div>
    <div class="nothing-here"  *ngIf="!prod_list.length && no_rec">
        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data not Available</p>
            </div>
        </div>
    </div>
    
    
    
    <div *ngIf="prod_list.length" class="main-div">
        <div class="sub-listing tydo-list p0">
            
            <div class="tydo-item mt16" *ngIf="cat_id">
                <h3>{{prod_cat.category_name}}<br><span>"{{prod_list.length}}/{{total_count}}" Products Found</span> </h3>
                <img src="{{prod_cat.imageCompletePath}}">
            </div>
            
            <ion-list (click)="goOnProductSubDetailPage(list.id)" *ngFor="let list of prod_list;let i=index">
                <button ion-item>
                    <div class="image-manage">
                        
                        <img *ngIf="list.image" src="{{list.imageCompletePath}}">
                    </div>
                    <div class="detail mt9">
                        <h4>{{list.product_name}}</h4>
                        <h3><span>₹​</span>{{list.price}}/-</h3>
                    </div>
                </button>
            </ion-list>
        </div>
        
    </div>
    
    <div class="main-div" *ngIf="!prod_list.length && !no_rec">
        <div class="sub-listing tydo-list p0">
            <div class="skleton-box-1"></div>
            
            <ion-list class="skleton-box-2"  *ngFor="let row of skelton"></ion-list>
        </div>
    </div>
</ion-content>
