<div class="main-container" [@routerTransition]>
  <div class="middle-container">
    <div class="page-heading">
      <img src="assets/img/leads_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Product</h2>
        <p>Total Product " 25 "</p>
      </div>
    </div>
  </div>
  
  <div class="container-outer">
    <app-master-tab-list></app-master-tab-list>
    <div class="container tab-container" >
      <div class="row">
        <div class="col s12">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table class="sno-border">
                <tr>
                  <th class="w30">&nbsp;</th>
                  <th class="w200">
                    <div class="filter">
                      <mat-form-field>
                        <mat-select placeholder="Type">
                          <mat-option value="option1">Distributor</mat-option>
                          <mat-option value="option2">Sales Executive</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </th>
                  <th class="w200">Subject</th>
                  <th>Messege</th>
                  <th class="w180">Action</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table class="sno-border">
                  <tr>
                    <td class="w30">1</td>
                    <td class="w200">Distributor</td>
                    <td class="w200">Subject 01</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td class="w180">SMS,Email</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Distributor</td>
                    <td>Subject 01</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td>SMS,Email</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Distributor</td>
                    <td>Subject 01</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td>SMS,Email</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Distributor</td>
                    <td>Subject 01</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td>SMS,Email</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Distributor</td>
                    <td>Subject 01</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td>SMS,Email</td>
                  </tr>
                </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>