<div class="main-container">
  <div class="container">
    <div class="cs-header">
      <div class="module-name">
        <h2>Products</h2>
        <span>Total Products 100</span>
      </div>
      <div class="left-auto">
        <div class="top-pagination">
          <ul>
            <li class="refresh-area">
              <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="refresh()"><i class="material-icons"> refresh</i></a>
            </li>
            <li><p>Pages {{pagenumber}} Of {{total_page}}</p></li>
            <li>
              <button mat-button class="left-btn" (click)="start=start-page_limit; getProductList()" [disabled]="pagenumber == 1">
                <i class="material-icons">keyboard_arrow_left</i></button>
              </li>
              <li>
                <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="start=(pagenumber*page_limit)-page_limit; getProductList()" [(ngModel)]="pagenumber"  min="1" max={{total_page}}>
              </li>
              
              <li>
                <button mat-button class="right-btn"  (click)="start=start+page_limit; getProductList()" [disabled]="pagenumber == total_page">
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </li>
            </ul>
          </div>
      </div>
    </div>
      <div class="scroll-body">
        <div class="cs-table" *ngIf="!loader">
          <div class="sticky-head">
            <div class="table-head">
              <table>
                <tr>
                  <th class="w180">Category</th>
                  <th class="w170">Sub Category</th> 
                  <th>Product Name</th>
                  <th class="w170">Product Code</th>
                  <th class="w120" *ngIf="tab_active=='scheme'">Coupon Point</th>
                  <th class="w120" *ngIf="tab_active=='scheme'">Available Coupon Code</th>
                  <th class="w120" *ngIf="tab_active=='scheme'">Scheme Status</th>
                </tr>
              </table>
            </div>
            <div class="table-head bdrt" >
              <table>
                <tr>
                  <th class="w180">
                    <div class="th-search-acmt">
                      <mat-form-field class="example-full-width cs-input select-input">
                        <input matInput placeholder="Enter Category...." [matAutocomplete]="category" (keyup.enter)="getSubCategoryList();getProductList()" (input)="category_array_filter(data.category,tmp_category)" name="category" #category="ngModel" [(ngModel)]="data.category">
                        <mat-autocomplete #category="matAutocomplete">
                          <mat-option *ngFor="let category of category_list" (click)="getSubCategoryList() || getProductList()" value="{{category}}">
                            <small>{{category}}</small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </th>
                  <th class="w170">
                    <div class="th-search-acmt">
                      <mat-form-field class="example-full-width cs-input select-input">
                        <input matInput placeholder="Enter Sub Category..." [matAutocomplete]="subCategory" (keyup.enter)="getProductList()" (input)="sub_categoryy_array_filter(data.sub_category,tmp_subcategory)" name="subCategory" #subCategory="ngModel" [(ngModel)]="data.sub_category" >
                        <mat-autocomplete #subCategory="matAutocomplete">
                          <mat-option *ngFor="let subCategory of subCategory_list" (click)="getProductList()" value="{{subCategory}}">
                            <small>{{subCategory}}</small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </th>    
                  <th>
                    <div class="th-search-acmt">
                      <mat-form-field>
                        <input type="text"  matInput placeholder="Enter Product Name...." name="type" (keyup.enter)="getProductList()" #type="ngModel" [(ngModel)]="data.product_name" >
                        <mat-autocomplete #search="matAutocomplete" >
                          <mat-option >
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </th>
                  
                  <th class="w170">
                    <div class="th-search-acmt">
                      <mat-form-field>
                        <input type="text"  matInput placeholder="Enter Product Code...." name="cattype" (keyup.enter)="getProductList()" #cattype="ngModel" [(ngModel)]="data.cat_no" >
                        <mat-autocomplete #search="matAutocomplete" >
                          <mat-option >
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </th>  
                  
                  <th class="w120" *ngIf="tab_active=='scheme'"></th>
                  
                  <th class="w120" *ngIf="tab_active=='scheme'"></th>
                  
                  <th class="w120" *ngIf="tab_active=='scheme'">
                    <div class="th-search-acmt">
                      <mat-form-field>
                        <input type="text"  matInput placeholder="Enter Scheme Status...." name="scheme_status" (keyup.enter)="getProductList()" #scheme_status="ngModel" [(ngModel)]="data.scheme_status" >
                        <mat-autocomplete #search="matAutocomplete" >
                          <mat-option >
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
          </div>
          <div class="table-container">
            <div class="table-content">
              <table>
                <tr *ngFor="let p of productlist ">
                  <td class="w180">{{p.category}}</td>
                  <td class="w170">{{p.sub_category}}</td>    
                  <td><a class="link-btn" mat-button routerLink="/product-detail/{{(p.id)}}" routerLinkActive="active">{{p.product_name}}</a></td>
                  <td class="w170">{{p.cat_no}}
                    <div class="action-btns" *ngIf="tab_active=='all'">
                      <a mat-button class="view" (click)="detailProduct(p.id)"><i class="material-icons">remove_red_eye</i> View</a>
                      <button mat-button class="delete" (click)="deleteProduct(p.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                    </div>
                  </td>
                  <td class="w120" *ngIf="tab_active=='scheme'">{{p.scheme_value_points}}</td>
                  <td class="w120" *ngIf="tab_active=='scheme'">{{p.available_qrcode}}</td>
                  <td class="w120" *ngIf="tab_active=='scheme'">{{p.scheme_status}}
                    <div class="action-btns">
                      <a mat-button class="view" (click)="detailProduct(p.id)"><i class="material-icons">remove_red_eye</i> View</a>
                      <button mat-button class="delete" (click)="deleteProduct(p.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="data-not-available" *ngIf="data_not_found==true">
          <div class="outer">
            <div class="iinear">
              <div class="figure" matRipple>
                <div class="header">
                  <img src="assets/img/data-not-available-header.svg" alt="">
                </div>
                <div class="description">
                  <div class="cs-heading">
                    <h2>Product List</h2>
                  </div>
                  <div class="img">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <div class="psc">
                    <p>data not Found</p>
                    <!-- <p>Tap on <a href="">ADD NEW</a> for Service Plan</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- skeleton loading table start -->
        <div class="cs-table" *ngIf="loader">
          <div class="table-head">
            <table>
              <tr>
                <th class="w180">Category</th>
                <th class="w170">Sub Category</th> 
                <th>Product Name</th>
                <th class="w170">Product Code</th>
                <th class="w120" *ngIf="tab_active=='scheme'">Coupon Point</th>
                <th class="w120" *ngIf="tab_active=='scheme'">Available Coupon Code</th>
                <th class="w120" *ngIf="tab_active=='scheme'">Scheme Status</th>
              </tr>
            </table>
          </div>
          <div class="table-container">
            <div class="table-content">
              <table>
                <tr *ngFor="let lead of skelton" class="sk-loading">
                  <td class="w180"><div>&nbsp;</div></td>
                  <td class="w170"><div>&nbsp;</div></td>    
                  <td><div>&nbsp;</div></td>
                  <td class="w170"><div>&nbsp;</div></td>
                  <td class="w120" *ngIf="tab_active=='scheme'"><div>&nbsp;</div></td>
                  <td class="w120" *ngIf="tab_active=='scheme'"><div>&nbsp;</div></td>
                  <td class="w120" *ngIf="tab_active=='scheme'"><div>&nbsp;</div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- skeleton loading table end -->
      </div>
    </div>
</div>


