<div class="main-container">
  <div class="container">
    <div class="cs-header">
      <div class="module-name">
        <h2>Travel Plan</h2>
        <span>{{search.travel_date}} Travel Plan {{travel_list.length}}</span>
      </div>
      <div class="left-auto"  *ngIf="search.travel_date!='' || search.sales_user!=''">
        <div class="top-pagination">
          <ul>
            <li>
              <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="getTravelList('refresh') "><i class="material-icons"> refresh</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="scroll-body">
      <div class="cs-table">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">S No</th>
                <th class="w150">Date</th>
                <th class="w170">Executive Name</th>
                <th class="padding0">
                  <table>
                    <tr>
                      <th>Travel Plan</th>
                      <th class="w70 text-center">Action</th>
                    </tr>
                  </table>
                </th>                          
              </tr>
            </table>
          </div>
          <div class="table-head bdrt" >
            <table>
              <tr>
                <th class="w60">&nbsp;</th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="travel_date" [(ngModel)]="search.travel_date" (dateChange)="onDate($event)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                      <mat-datepicker #picker [(ngModel)]="search.travel_date" ngDefaultControl></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w170">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input">
                      <input matInput placeholder="Search" name="sales_user" [(ngModel)]="search.sales_user" (keyup.enter)="getTravelList()" >
                    </mat-form-field>
                  </div>
                </th>
                <th class="padding0">
                  <table>
                    <tr>
                      <th>&nbsp;</th>
                      <th class="w70 text-center">&nbsp;</th>
                    </tr>
                  </table>
                </th>    
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-content">
            <table>
              <tr *ngFor="let list of travel_list; let i = index;">
                <td class="w60 text-center">{{i+1}}</td>
                <td class="w150">{{list.travel_date | date : 'd MMM y'}}</td>
                <td class="w170">{{list.name}}</td>
                <td class="padding0">
                  <table class="inner-table">
                    <tr *ngFor="let row of list.travel_plan">
                      <td *ngIf="row.travel_type=='Channel Partner Visit'"><b>{{row.travel_type}} - </b>{{row.company_name}} ({{row.state}} / {{row.district}})</td>
                      <td *ngIf="row.travel_type=='Area Visit'"><b>{{row.travel_type}} - </b>{{row.state}} / {{row.district}}</td>
                      
                      <td *ngIf="row.flag=='1'" class="w70 text-center visit-done">
                        <span class="icon-size"><i class="material-icons">check</i></span>
                      </td>
                      <td *ngIf="row.flag=='0'" class="w70"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <ng-container *ngFor="let lead of skelton">
                <tr class="sk-loading"  *ngIf="loader">
                  <td class="w60"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <td class="w170"><div>&nbsp;</div></td>
                  <td><div>&nbsp;</div></td>
                </tr>
              </ng-container>
            </table>
            <div
            class="search-results"
            data-infinite-scroll
            debounce
            [infiniteScrollDistance]="1"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="getTravelList()"
            >
          </div>
          <div *ngIf="loader" class="lazy-loading" >
            <img src="../../../assets/img/lazy_loader.gif" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="data-not-available" *ngIf="data_not_found==true">
      <div class="outer">
        <div class="iinear">
          <div class="figure" matRipple>
            <div class="header">
              <img src="assets/img/data-not-available-header.svg" alt="">
            </div>
            
            <div class="description">
              <div class="cs-heading">
                <h2>Travel</h2>
              </div>
              <div class="img">
                <i class="material-icons">error_outline</i>
              </div>
              <div class="psc">
                <p>Data Not Available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
