<div class="navigation" *ngIf="login_data.view_dashboard=='1'" >
    <div class="logo" matRipple>
        <div class="company-logo" >
            <img src="assets/img/logo1.png">
        </div>
    </div>
    <ul class="nav-scroll">
        <li *ngIf="login_data.view_dashboard=='1'">
            <a matRipple  routerLink="/dashboard" (click)="toggleDropdown(0)" routerLinkActive="active">Dashboard <img src="assets/img/nav-icon/dashboard.svg" class="nav-icon h17"></a>
        </li>
        
        <li class="dropdown" *ngIf="login_data.view_lead_channel_partner=='1' || login_data.view_lead_dealer=='1'">
            <a matRipple (click)="toggleDropdown(4)" [ngClass]="{'active':leadactive }" >Leads<img src="assets/img/nav-icon/lead.svg" class="nav-icon h17"></a>
            <ul>
                <li *ngIf="login_data.view_lead_channel_partner=='1'">
                    <a matRipple  routerLink="/lead-list" routerLinkActive="active">
                        Channel Partner
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.dr_lead}}</span> -->
                    </a>
                </li>
                <li *ngIf="login_data.view_lead_dealer=='1'">
                    <a matRipple routerLink="/dealer-lead-list" routerLinkActive="active">
                        Dealers
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.dealer_lead}}</span> -->
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="dropdown" *ngIf="login_data.view_dist_n_w_channel_partner=='1' || login_data.view_dist_n_w_direct_dealer=='1' || login_data.view_dist_n_w_dealer=='1'">
            <a matRipple (click)="toggleDropdown(1)" [ngClass]="{'active':distactive }">Distribution Net. <img src="assets/img/nav-icon/distributor.svg " class="nav-icon h16"></a>
            <ul>
                <li *ngIf="login_data.view_dist_n_w_channel_partner=='1'">
                    <a matRipple  routerLink="/distribution-list" routerLinkActive="active">
                        Channel Partner
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.dist}}</span> -->
                        
                    </a>
                </li>
                <li *ngIf="login_data.view_dist_n_w_direct_dealer=='1'">
                    <a matRipple routerLink="/direct-dealer" routerLinkActive="active">
                        Direct Dealers
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.direct_dealer}}</span> -->
                        
                    </a>
                </li>
                <li *ngIf="login_data.view_dist_n_w_dealer=='1'">
                    <a matRipple routerLink="/dealer" routerLinkActive="active">
                        Dealers
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.dealer}}</span> -->
                        
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="dropdown" *ngIf="login_data.view_orders_primary=='1' || login_data.view_orders_secondary=='1' || login_data.view_orders_direct=='1'">
            <a matRipple (click)="toggleDropdown(2)" [ngClass]="{'active':ordersactive}">Orders<img src="assets/img/nav-icon/order.svg" class="nav-icon h16"></a>
            <ul>
                <li *ngIf="login_data.view_orders_primary=='1'">
                    <a matRipple routerLink="/order-list" routerLinkActive="active">
                        Primary
                        <i class="material-icons"> arrow_right_alt</i>
                        <!-- <span class="nav-counter orange-count">{{count.primary_order}}</span> -->
                        
                    </a>
                </li>
                <li *ngIf="login_data.view_orders_secondary=='1'">
                    <a matRipple routerLink="/secondary-order-list" routerLinkActive="active">
                        Secondary
                        <i class="material-icons"> arrow_right_alt</i>
                        <!-- <span class="nav-counter orange-count">{{count.secondary_order}}</span> -->
                        
                    </a>
                </li>
                <!-- <li *ngIf="login_data.view_orders_direct=='1'">
                    <a routerLink="/direct-order" routerLinkActive="active">
                        Direct Order
                        <i class="material-icons"> arrow_right_alt</i>
                        
                    </a>
                </li> -->
            </ul>
        </li>
        
        <li *ngIf="login_data.view_attendence=='1'">
            <a matRipple routerLink="/attendance" (click)="toggleDropdown(0)" routerLinkActive="active">Attendance <img src="assets/img/nav-icon/attandance.svg" class="nav-icon h18"></a>
            
        </li>
        <li *ngIf="login_data.view_check_in=='1'">
            <a matRipple routerLink="/checkin" (click)="toggleDropdown(0)" routerLinkActive="active">Check In <img src="assets/img/nav-icon/checkin.svg" class="nav-icon h18"></a>
            
        </li>
        
        
        
        
        
        <!-- <li *ngIf="login_data.view_banner=='1'">
            <a  (click)="toggleDropdown(0)" routerLink="/banner-banner-list" routerLinkActive="active">
                Banner
                <img src="assets/img/banner.svg" class="nav-icon h14">
            </a>
        </li> -->
        <li *ngIf="login_data.view_leaves=='1'">
            <a matRipple (click)="toggleDropdown(0)" routerLink="/leave-list" routerLinkActive="active">
                Leaves
                <img src="assets/img/nav-icon/leave.svg" class="nav-icon h18">
            </a>
        </li>
        
        <li *ngIf="login_data.view_travel_plan=='1'">
            <a matRipple (click)="toggleDropdown(0)" routerLink="/travel-list" routerLinkActive="active">
                Travel Plan
                <img src="assets/img/nav-icon/travel.svg" class="nav-icon h16">
            </a>
        </li>
        
        
        <li class="dropdown" *ngIf="login_data.view_products=='1' || login_data.view_users=='1' || login_data.view_discount=='1' || login_data.view_category_master=='1' || login_data.view_scheme_master=='1'">
            <a matRipple (click)=toggleDropdown(3) [ngClass]="{'active':masteractive}">Masters<img src="assets/img/nav-icon/master.svg " class="nav-icon h16"></a>
            <ul>
                <li *ngIf="login_data.view_products=='1'">
                    <a matRipple routerLink="/product-list" routerLinkActive="active">
                        Products
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.product}}</span> -->
                        
                    </a>
                </li>
                <li *ngIf="login_data.view_users=='1'">
                    <a matRipple routerLink="/sale-user-list" routerLinkActive="active">
                        Users
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.user}}</span> -->
                        
                    </a>
                </li>
                <li *ngIf="login_data.view_discount=='1'">
                    <a matRipple routerLink="/discount-list" routerLinkActive="active">
                        Discount
                        <i class="material-icons"> arrow_right_alt  </i>
                        <!-- <span class="nav-counter orange-count">{{count.discount}}</span> -->
                        
                    </a>
                </li>
                
                <!-- <li *ngIf="login_data.view_category_master=='1'">
                    <a routerLink="/categorymaster" routerLinkActive="active">
                        Category Master
                        <i class="material-icons"> arrow_right_alt  </i>
                        
                    </a>
                </li> -->
                
                
            </ul>
        </li>
        
        <!-- <li class="dropdown" *ngIf="login_data.view_user_location_report=='1' || login_data.view_daily_work_report=='1' || login_data.view_monthly_work_report=='1' || login_data.view_primary_target_report=='1' || login_data.view_c_p_sales_report=='1' || login_data.view_primary_secondary_report=='1' || login_data.view_product_category_report=='1' || login_data.view_secondary_target_report=='1'">
            <a (click)=toggleDropdown(5) [ngClass]="{'active':reportactive}">Report<img src="assets/img/report.svg " class="nav-icon h20"></a>
            
            <ul>
                
                <li *ngIf="login_data.view_daily_work_report=='1'">
                    <a routerLink="/dwr" routerLinkActive="active">
                        Daily Work Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_monthly_work_report=='1'">
                    <a routerLink="/monthly-dwr" routerLinkActive="active">
                        Monthly Work Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_primary_target_report=='1'">
                    <a routerLink="/target-report/1" routerLinkActive="active">
                        Primary Target Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_secondary_target_report=='1'">
                    <a routerLink="/target-report/2" routerLinkActive="active">
                        Secondary Target Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_primary_secondary_report=='1'">
                    <a routerLink="/primary-vs-secondary" routerLinkActive="active">
                        Primary Vs Secondary Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_c_p_sales_report=='1'">
                    <a routerLink="/distriutor-sales-report" routerLinkActive="active">
                        C P Sales Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
                <li *ngIf="login_data.view_product_category_report=='1'">
                    <a routerLink="/product-wise-report" routerLinkActive="active">
                        Product & Category Report
                        <i class="material-icons"> arrow_right_alt  </i>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>

